@use '../helpers/mixins/mixins' as mx;
@use '../helpers/variables/variables' as var;


@media (min-width: 901px) and (max-width: 1199px) {

/* === HTML AND BODY === */  

  
*, *::before, *::after {
    box-sizing: border-box;
  }
  

html,body {
    margin: 0;
    padding: 0;
    text-align: center;
}



/* HERO AND FORM WRAPPER ON DESKTOP */


#hero-and-form-wrapper-for-desktop {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    margin: 3rem 4rem;

    #background-overlay-desktop-header {
      position: absolute;
      @include mx.light-blue-gradient-bg;
      width: 100%;
      height: 95%;
      margin: -20rem;
      z-index: -2;
      border-radius: 0 0 15px 0;
    }


    /* === HERO === */
    header {
    width: 100%;
    height: auto;
    border-radius: var.$radius-15;
    display: grid;
    grid-template-rows: auto 1fr;
    text-align: left; 

        #logo {
            width: 2.5rem;
        }

        h1 {
            font-family:Verdana, Geneva, Tahoma, sans-serif;
            color: var.$primary-header-color-greyish;
            font-size: 2.4rem;
            
        }
    
        p {
            color: var.$primary-paragraph-color-greyish;
            margin: 0;
            font-size: 1.1rem;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }    
    

}
// === END OF HEADER === //

/* === FORM === */
form {
  margin-left: 1.8rem;
    position: relative;
    background-color: white;
    border-radius: var.$radius-15;
    display: grid;
    box-shadow: 0 25px 26px rgba(0, 0, 0, 0.1);

    h2 {
        font-family: var.$primary-font;
        font-size: 1.25rem;
        color: var.$primary-header-color-greyish;
        text-align: left;
        margin-left: 0.8rem;
    }

    fieldset {
        border: none;
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: flex-start; 
        align-items: flex;
        font-family: var.$primary-font;

        .sr-only {
            position: absolute !important;
            width: 1px;
            height: 1px;
            padding: 0;
            margin: -1px;
            overflow: hidden;
            clip: rect(0 0 0 0);
            white-space: nowrap;
            border: 0;
          }
          
          .radio-option {
            position: relative;
          
            input[type="radio"] {
              position: absolute;
              opacity: 0;
              pointer-events: none;
            }
          
            label {
              display: inline-block;
              padding: 0.4rem 1rem 0.5rem 2.8rem;
              position: relative;
              cursor: pointer;
              font-size: 0.8rem;
              user-select: none;

          
              &::before {
                content: '';
                position: absolute;
                left: 0.8rem;
                top: 50%;
                transform: translateY(-50%);
                width: 1.6rem;
                height: 1.6rem;
                border-radius: 50%;
                border: 1px solid #ccc;
                background-color: transparent;
                transition: all 0.3s ease;
                
              } 
          
              &::after {
                content: '';
                position: absolute;
                left: 1.25rem;
                top: 50%;
                transform: translateY(-50%);
                width: 0.7rem;
                height: 0.7rem;
                border-radius: 50%;
                background-color: transparent;
                transition: background-color 0.3s ease;
                
              }
            } 
            
            input[type="radio"]:checked + label::before {
              background-color: #E1E7FE; // lightblue bg
              border: none;
            }
          
            input[type="radio"]:checked + label::after {
              background-color: hsl(203, 100%, 40%); // darkblue dot
            }
          }                                                  
      }

    /* === METRIC === */

      .measure-container-metric {
        display: flex;
        flex-direction: row;
        gap: 0.75rem;
      
        label {
          font-weight: 600;
          text-align: left;
          margin: 1rem 1rem 0.2rem 1rem;
          font-size: 0.9rem;
          color: var.$primary-paragraph-color-greyish;
          font-weight: lighter;
        }
      
        input {
          padding: 0.75rem;
          border: 1px solid #ccc;
          border-radius: var.$radius-15;
          font-size: 1rem;
          width: 100%;
          box-sizing: border-box;
          height: 3.5rem;
        }

        .input-wrapper {
            display: flex;
            flex-direction: column;
          
            .input-container {
              position: relative;
              margin: 0 1rem;
          
              input {
                width: 100%;
                padding: 0.75rem 3rem 0.75rem 1rem; // extra right sided padding
                border: 1px solid #ccc;
                border-radius: var.$radius-15;
                font-size: 1rem;
                height: 3.5rem;
                box-sizing: border-box;
              }

              input:focus {
                outline: none;
                border-color: hsl(220, 80%, 60%);
              }
              
          
              .unit {
                position: absolute;
                right: 1rem;
                top: 50%;
                transform: translateY(-50%);
                font-weight: bold;
                font-size: 1rem;
                color: #000000;
                pointer-events: none;
                font-family: var.$primary-font;
                font-weight: lighter;
              }

              input:focus {
                border-color: hsl(220, 80%, 60%);
              }
            
              input:focus ~ .unit,
              input:focus + .unit {
                color: hsl(220, 80%, 60%);
              }
            }
              
          }
      }

    /* === IMPERIAL === */

    #metric-radio-button-container {
      justify-self: flex-start;
      margin-left: -.8rem !important;
    }

    #imperial-radio-button-container {
      justify-self: flex-start;
      padding-left: .5rem;
    }



      .measure-container-imperial {
        display: flex;
        flex-direction: column;
        gap: 0.75rem;
        display: none; // display only when selected, with javascript

        #inches-label,
        #lbs-label {
          display: none;
        }
      
        label {
          font-weight: 600;
          text-align: left;
          margin: 1rem 1rem 0.2rem 1rem;
          font-size: 0.9rem;
          color: var.$primary-paragraph-color-greyish;
          font-weight: lighter;
          grid-row: 1;
        }
      
        input {
          padding: 0.75rem;
          border: 1px solid #ccc;
          border-radius: var.$radius-15;
          font-size: 1rem;
          width: 100%;
          box-sizing: border-box;
          height: 3.5rem;
        }

        .input-wrapper {
            display: flex;
            flex-direction: column;
            grid-row: 2;

          
            .input-container {
              position: relative;
              margin: 0 1rem;
          
              input {
                width: 100%;
                padding: 0.75rem 3rem 0.75rem 1rem; // extra right sided padding
                border: 1px solid #ccc;
                border-radius: var.$radius-15;
                font-size: 1rem;
                height: 3.5rem;
                box-sizing: border-box;
              }

              input:focus {
                outline: none;
                border-color: hsl(220, 80%, 60%);
              }
              
              .unit {
                position: absolute;
                right: 1rem;
                top: 50%;
                transform: translateY(-50%);
                font-weight: bold;
                font-size: 1rem;
                color: #000000;
                pointer-events: none;
                font-family: var.$primary-font;
                font-weight: lighter;
              }

              input:focus {
                border-color: hsl(220, 80%, 60%);
              }
            
              input:focus ~ .unit,
              input:focus + .unit {
                color: hsl(220, 80%, 60%);
              }

            }
              
          }

          #imperial-height-container,
          #imperial-weight-container {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto 1fr;
            align-items: center;
          }
      }


/* === RESULTS CONTAINER INSIDE THE FORM === */

    #results-container {
        font-family: var.$primary-font;
        background-color: #345FF6;
        margin: 1.5rem 1rem;
        border-radius: 15px 70px 70px 15px;
        text-align: left;
        padding: 0rem 4rem 0.4rem 1.5rem;
        color: white;
        
        p {
            font-size: .9rem;
        }
    }
}
/* === END OF FORM === */
}

/* === DETAILS AND SUGGESTIONS === */
#healthy-habits {
    background-color: hsl(208, 65%, 88, 0.15);
    margin: 3rem 1.5rem; 
    padding: 2rem;
    display: flex;
    border-radius: var.$radius-15;


    #healthy-eating-container,
    #regular-exercise-container,
    #adequate-sleep-container {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto;
        padding: 0 !important;
        text-align: left;

        img {
            grid-row: 1;
            width: 3rem;
        }

        h5 {
            grid-row: 2;
            font-family: var.$primary-font;
            color: var.$primary-header-color-greyish;
            font-size: 1rem;
        }

        p {
            grid-row: 3;
            font-family: var.$primary-font;
            color: var.$primary-paragraph-color-greyish;
            font-size: .9rem;
            padding-right: 2rem;
        }
    }
}


#man-photo-and-longer-suggestions-container-tablet {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    align-items: center;
    padding: 0rem 2rem;

    #man-eating {
      max-width: 80%;
      position: relative;
      margin: 1.5rem;
      grid-column: 1;
      grid-row: 1 / 3;
  }
  
    #left-curve-line {
      height: 10rem;
      grid-column: 2;
      grid-row: 1;
      margin-bottom: 0;
      padding-right: 3rem;
      justify-self: flex-end;
      margin-top: -1rem;
    }

    #details-and-suggestions-container {
      margin-top: -6rem;
        text-align: left;
        padding: 1rem;
    
        h4 {
            font-size: 1.7rem;
            font-family: var.$primary-font;
            font-weight:normal;
        }
    
        #text-of-suggestions-based-on-result {
            margin-top: -1rem;
            margin-bottom: 3rem;
            font-family: var.$primary-font;
            font-size: .9rem;
            color: var.$primary-paragraph-color-greyish;
        }
    }
    
    
}


/* === LIMITATIONS === */

#limitations {
  padding-left: 1rem;
  padding-right: 1rem;
  display: grid;
  grid-template-rows: auto auto auto auto;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;


  #limitations-heading-and-paragraph-container {
    text-align: left;
    grid-row: 1;
    grid-column: 1;
    padding-left: 2rem;


    #limitations-heading {
      font-family: var.$primary-font;
      color: var.$primary-header-color-greyish;
      font-weight: lighter;
      font-size: 1.8rem;
  }
 
}

  #gender {
    grid-row: 1;
    grid-column: 2;
    margin-top: 7.5rem;
    margin-bottom: 0;
    margin-left: -2rem;

  }

  #age,
  #muscle {
    grid-row: 3;
    margin-top: -2rem;
  }

  #pregnancy,
  #race {
    grid-row: 4;
    margin-top: -2rem;

  }

  #age {
    margin-right: -18rem;
  }

  #muscle {
    margin-left: 4rem;
  }

  #pregnancy {
    margin-right: 0;
  }

  #race {
    margin-left: -14rem;
  }



  .limitations-card {
    width: 85%;
    align-self: center;
    justify-self: center;

  } 

  p {
      font-family: var.$primary-font;
      color: var.$primary-paragraph-color-greyish;
      font-size: .9rem;
  }
  
 // INSIDE THE CARDS //
    .limitations-card {
        width: 70%;
        border-radius: var.$radius-15;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
        height: auto;
        text-align: left;
        padding: .3rem 1.5rem;
        margin: 1rem 0.5rem;

        .card-title {
            display: flex;
            grid-column: 1 / 3;
            align-items: center;
            font-family: var.$primary-font;

            img {
                width: 2rem;
                margin: 0 1rem 0 0;
            }

            h6 {
                font-size: 1rem;
            }
        }

        p {
            margin-top: -1rem;
            grid-row: 2;
            grid-column: 1 / 3;
        }
    }

}

footer {

  margin-top: 4rem;

    p {
        margin: .3rem;
        font-size: .7rem;
        font-family: var.$primary-font;
        

    }

    a {
        text-decoration: none;
        color: black;
    }

    #frontend-mentor {
      text-decoration: underline;
    }

    #xtralvl {
        color: hsl(203, 100%, 40%);
        text-decoration: none;
    }
}

/* === ERROR MESSAGES === */

.error-message {
    color: red;
    font-family: var.$primary-font;
    display: none;
}

}
