 /* GENDER BUTTONS */

 .male-mode #female {
    opacity: 0.5;
    transform: scale(0.8);
    transition: 0.3s ease;
}

.male-mode #male {
    box-shadow: 0 0 5px gray;
    transform: scale(1.1);
}

.female-mode #male {
    opacity: 0.5;
    transform: scale(0.8);
    transition: 0.3s ease;
}

.female-mode #female {
    box-shadow: 0 0 5px gray;
    transform: scale(1.1);
}


 /* HEIGHT UNIT BUTTONS */

 .cm-mode #ft {
    opacity: 0.5;
    transform: scale(0.8);
    transition: 0.3s ease;
}

.cm-mode #cm {
    box-shadow: 0 0 5px gray;
    transform: scale(1.1);
}

.ft-mode #cm {
    opacity: 0.5;
    transform: scale(0.8);
    transition: 0.3s ease;
}

.ft-mode #ft {
    box-shadow: 0 0 5px gray;
    transform: scale(1.1);
}

 /* WEIGHT UNIT BUTTONS */

 .kg-mode #lbs {
    opacity: 0.5;
    transform: scale(0.8);
    transition: 0.3s ease;
}

.kg-mode #kg {
    box-shadow: 0 0 5px gray;
    transform: scale(1.1);
}


.lbs-mode #kg {
    opacity: 0.5;
    transform: scale(0.8);
    transition: 0.3s ease;
}

.lbs-mode #lbs {
    box-shadow: 0 0 5px gray;
    transform: scale(1.1);
}

html, body {
    text-align: center;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    height: 100%;
}

main {
    flex: 1;
}

hr {
    width: 70%;
}

#subtitle {
    margin: 1rem;
}

/* === FORM === */

form label,
form p {
    font-size: 1.1rem;
    font-weight: bold;
}

form select,
form input {
    width: 80%;
    border: 1px solid rgb(211, 200, 200);
    border-radius: 10px;
    height: 2rem;
    margin: 1rem; 
    text-align: center;
}

form option {
    text-align: center;
}

#submit {
    font-size: 1.3rem;
    border: 1px solid rgb(211, 200, 200);
    padding: 0.5rem;
    border-radius: 10px;
    margin: 0 0.6rem;
    background-color: rgb(202, 226, 248);
}

#submit:active {
    transform: scale(0.95);
}

#reset {
    font-size: 1rem;
    border: 1px solid rgb(211, 200, 200);
    padding: 0.5rem;
    border-radius: 10px;
    margin: 0 0.6rem;
    background-color: rgb(248, 219, 202);

}

#reset:active {
    transform: scale(0.85);
}


.gender-select {
    font-size: 2.5rem;
}

.gender-select i {
    margin: 0 0.5rem;
    cursor: pointer;     
    user-select: none;
}

#male {
    color:rgb(15, 112, 237);
    padding: 0.3rem;
    border: 1px solid rgb(211, 200, 200);
    border-radius: 30%;
}

#female {
    color: rgb(244, 143, 160);
    padding: 0.3rem;
    border: 1px solid rgb(211, 200, 200);
    border-radius: 30%;
}

.unit-select span {
    display: inline-block;
    font-size: 1.3rem;
    border: 1px solid rgb(211, 200, 200);
    padding: 0.5rem;
    border-radius: 30%;
    margin: 0 0.6rem;
    cursor: pointer;     
}


footer {
    margin: 0;
    padding: 0.5rem 0;
}

footer p {
    margin: 0;
    padding: 0;
    font-size: 0.8rem;
}

@media (min-width: 480px) {
form select,
form input {
    width: 30%;
}

hr {
    width: 50%;
}





}