
/* === RADIUS === */
$thirtypx-border-radius-bottom: 0 0 30px 30px; 
$radius-15: 15px; 

/* === FONT FAMILY AND FONT COLOR === */
$primary-font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$primary-header-color-greyish: rgba(0, 0, 0, 0.75);
$primary-paragraph-color-greyish: rgba(0, 0, 0, 0.5);